//商品一覧表示
- @posts.each do |post|
  .post-list
    = link_to post_path(post.id), class: "post-list__content" do
      .post-list__card
        - post.images.each do |image|
          = image_tag image.src.url, class: "post-list__card__img"
        .post-list__lower-box
          .post-list__lower-box__name
            = post.name
          .post-list__lower-box__tag
            ＃
            - post.tags.each do |tag|
              = tag.text