.details {
  background-color: antiquewhite;
  padding: 40px;
  .detail-box {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    &__heading {
      color: #3d0a00;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
    }
    &__photo {
      text-align: center;
      padding: 20px 0;
      &__main {
        width: 200px;
      }
    }
    &__user {
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      &__icon {
        &__face {
          font-size: 40px;
          color: black;
          padding-right: 30px;
        }
      }
    }
    &__description {
      &__tag {
        color: coral;
        border: 1px solid;
        border-radius: 15px;
        text-align: center;
        width: 180px;
        margin-bottom: 20px;
      }
      &__text {
        margin-bottom: 20px;
      }
    }
  }
  .detail-comment {
    width: 600px;
    background-color: white;
    margin: 10px auto;
    padding: 24px;
    &__wrap {
      display: flex;
      margin-bottom: 35px;
    }
    &__left {
      margin-right: 10px;
      margin-top: 10px;
    }
    &__icon {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
    &__right {
      width: 100%;
    }
    &__nickname {
      font-size: 14px;
    }
    &__body {
      width: 100%;
      padding: 16px;
      background-color: sandybrown;
      border-radius: 15px;
      font-size: 14px;
      color: #333333;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        left: -10px;
        top: 10px;
        border-right: 10px solid sandybrown;
        border-top: -5px solid transparent;
        border-bottom: 10px solid transparent;
      }
    }
  }
}